<div class="container mt-2">
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="des">
        </div>
        <div class="mb-3">
            <label for="videoid" class="form-label">VideoID</label>
            <input type="text" class="form-control" id="videoid" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>