<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-9">
            <h1 class="card-title">{{course.name}}</h1>
            <iframe width="886" height="499"
                src="https://www.youtube.com/embed/{{course.videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h5 class="card-text">{{course.des}}</h5>
        </div>
    </div>
</div>
</div>